html, body {
    max-width:100%;
    overflow-x:hidden;
}

.selected {
    background-color:#cccccc;
}

.player {
    margin-left:18px;
}

.player-ai {
    font-weight:bold;
}

.ring {
    position:absolute;
    transform:scale(0.5,0.5);
    margin-top:-15px;
    margin-left:-18px;
}

.invisible {
    visibility:hidden;
}

/* Player shape and colour icons. */
.pci_48_0 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -0px -0px}
.pci_48_1 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -0px -48px}
.pci_48_2 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -0px -96px}
.pci_48_3 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -0px -144px}
.pci_48_4 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -0px -192px}
.pci_48_5 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -0px -240px}
.pci_48_6 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -0px -288px}
.pci_48_7 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -0px -336px}
.pci_48_8 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -48px -0px}
.pci_48_9 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -48px -48px}
.pci_48_10 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -48px -96px}
.pci_48_11 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -48px -144px}
.pci_48_12 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -48px -192px}
.pci_48_13 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -48px -240px}
.pci_48_14 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -48px -288px}
.pci_48_15 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -48px -336px}
.pci_48_16 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -96px -0px}
.pci_48_17 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -96px -48px}
.pci_48_18 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -96px -96px}
.pci_48_19 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -96px -144px}
.pci_48_20 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -96px -192px}
.pci_48_21 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -96px -240px}
.pci_48_22 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -96px -288px}
.pci_48_23 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -96px -336px}
.pci_48_24 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -144px -0px}
.pci_48_25 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -144px -48px}
.pci_48_26 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -144px -96px}
.pci_48_27 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -144px -144px}
.pci_48_28 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -144px -192px}
.pci_48_29 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -144px -240px}
.pci_48_30 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -144px -288px}
.pci_48_31 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -144px -336px}
.pci_48_32 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -192px -0px}
.pci_48_33 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -192px -48px}
.pci_48_34 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -192px -96px}
.pci_48_35 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -192px -144px}
.pci_48_36 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -192px -192px}
.pci_48_37 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -192px -240px}
.pci_48_38 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -192px -288px}
.pci_48_39 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -192px -336px}
.pci_48_40 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -240px -0px}
.pci_48_41 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -240px -48px}
.pci_48_42 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -240px -96px}
.pci_48_43 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -240px -144px}
.pci_48_44 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -240px -192px}
.pci_48_45 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -240px -240px}
.pci_48_46 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -240px -288px}
.pci_48_47 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -240px -336px}
.pci_48_48 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -288px -0px}
.pci_48_49 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -288px -48px}
.pci_48_50 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -288px -96px}
.pci_48_51 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -288px -144px}
.pci_48_52 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -288px -192px}
.pci_48_53 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -288px -240px}
.pci_48_54 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -288px -288px}
.pci_48_55 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -288px -336px}
.pci_48_56 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -336px -0px}
.pci_48_57 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -336px -48px}
.pci_48_58 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -336px -96px}
.pci_48_59 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -336px -144px}
.pci_48_60 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -336px -192px}
.pci_48_61 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -336px -240px}
.pci_48_62 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -336px -288px}
.pci_48_63 {width: 48px; height:48px; background:url('http://np.ironhelmet.com/images/map/owner_rings_48.png') -336px -336px}
